<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css', ver=dir_hash) }}">
    <title>{% block title %}EASY CLASSIFY{% endblock %}</title>

    <script type="text/javascript">
        var URL_PREFIX = "{{config['URL_PREFIX']}}";
    </script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootstrap-3.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootbox-4.3.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/digits.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/d3-3.5.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/c3-0.4.10.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery.autocomplete-1.2.21.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/file_field.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/underscore-1.8.3.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/3rdparty/ace-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-python-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-lua-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.theme-chrome-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.ext-searchbox-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EASY-CLASSIFY</a>
        </div>
        <ul class="nav navbar-nav">
            {% block nav %}
            {% endblock %}
        </ul>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script>
    $(".explanation-tooltip").tooltip();
</script>
</body>